img{
    max-width: 100%;
    width: 150px;
    padding: 20px 0px 0px 90px;
}

#top{
    margin: 0px 0px 300px;
    background-color: #aaaaaa;
    box-sizing: border-box;
    border: 1px solid black;
}

#top h1{
    padding: 0px 0px 0px 500px;
}

#top  p{
    padding: 0px 0px 0px 500px;
}

#left{
    margin: -350px 0px 0px 50px;
    background-color: azure;
    width: 350px;
    border: white;
}

#left h2{
    padding-left: 50px;
}
#left ul{
    padding-left: 50px;
}
#left h3{
    padding-left: 50px;
}
#left p{
    padding-left: 50px;
}
#left h4{
    padding-left: 50px;
}

#right{
    margin: -650px 0px 0 500px;
    width: 500px;
}





